* {
    color: #777;
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}
h1, h2 {
    color: #DDD;
    text-shadow: 1px 1px 2px #000;
}
h1 {
    font-size: 20pt;
}
h2 {
    font-size: 14pt;
}
ul {
    list-style: none;
    padding: 0 3%;
}
p, li {
    line-height: 140%;
    text-shadow: 1px 1px 1px #111;
    margin-bottom: 5px;
}
li {
    text-indent: -12px;
    padding-left: 12px;
}
li:before {
    content: "• ";
    color: #900;
    font-size: 8pt;
    line-height: 160%;
    padding-right: 5px;
}
a {
    color: #BBB;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background: #111;
    margin: 0;
}
hr {
    width: 60%;
    border: 0;
    border-bottom: 1px dashed #2B2B2B;
    padding: 8px 0;
}
small {
    font-size: 9pt;
}

small a {
    font-size: 9pt;
    color: #888;
}

.wrapper {
    max-width: 800px;
    min-height: 100%;
    padding: 0 3%;
    margin: 0 auto;
    background: #222;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.profile {
    padding-top: 24px;
}
.photo {
    float: right;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    border: 5px solid #DDD;
    box-shadow: 0px 0px 5px #000;
    background: #111;
    overflow: hidden;
}
.photo img {
    width: 64px;
    height: 64px;
    border-radius: 500px;
}
.eof {
    margin: 3%;
    width: 120px;
    opacity: 0.2;
}
