@import url(http://fonts.googleapis.com/css?family=Lato:100);

* {
    color: #222;
    font-family: 'Helvetica Neue', 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12.5pt;
    letter-spacing: 1px;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h2 {
    color: #fff;
    text-shadow: rgba(255,255,255,0.5) 0px 0px 3px;
    margin: 3% auto;
}
h1 {
    font-size: 42pt;
}
h2 {
    font-size: 24pt;
    text-transform: uppercase;
}
ul {
    list-style: none;
    padding: 0 3%;
}
p, li {
    line-height: 140%;
    margin-bottom: 5px;
}
li {
    text-indent: -12px;
    padding-left: 12px;
}
li:before {
    content: "- ";
    color: #fff;
    font-size: 8pt;
    padding-right: 5px;
}
a {
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0,0,0,0.3) 0px 0px 4px;
}
a:hover {
    background: rgba(255,255,255,0.5);
}
body {
    background: #d338ff; /* Old browsers */
    background: -moz-linear-gradient(top, #d338ff 0%, #ff8800 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d338ff), color-stop(100%,#ff8800)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d338ff 0%,#ff8800 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d338ff 0%,#ff8800 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d338ff 0%,#ff8800 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d338ff 0%,#ff8800 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d338ff', endColorstr='#ff8800',GradientType=0 ); /* IE6-9 */
    margin: 0;
}
hr {
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding: 16px 0;
}
small {
    font-size: 12pt;
}

small a {
    font-size: 12pt;
}

.wrapper {
    max-width: 800px;
    min-height: 100%;
    padding: 0 3%;
    margin: 3% auto;
    background: #fff;
    background: rgba(255,255,255,0.2);
}
.profile {
    padding-top: 24px;
}
.photo {
    float: right;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
}
.photo img {
    width: 96px;
    height: 96px;
}
.eof {
    margin: 3%;
    width: 120px;
    visibility: hidden;
}
