@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*:lang(ko) {
  word-break: keep-all;
}

body {
  margin: 0;
  padding: 0;
  background: #F8F8FA;
  font-family: "Pretendard", sans-serif;
  font-size: 1.12rem;
  color: #303037;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
}

.wrap {
  flex: 1;
  max-width: 800px;
  margin: 0 3%;
}

.title {
  padding: 3em 0;
  position: relative;
  background: #019833;
  color: white;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('vimrc2022.png') #019833;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  filter: blur(2px);
}

.title .wrap {
  position: relative;
}

.title h1 {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0.25em;
}

.footer {
  padding: 0.5em 0 2em;
  background: #f0f0f3;
  text-align: center;
}

li {
  line-height: 1.625;
}

p, blockquote, q {
  line-height: 1.825;
  margin: 0 0 1.0em;
  word-wrap: break-word;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1rem;
  }

  .title {
    padding: 2em 0;
  }

  .title h1 {
    font-size: 2.5em;
  }
}
